* {
  margin: 0pt;
}

#header {
  background-color: #F1433F;
}

#header-content {
  background-color: blue;
  width: 100%;
  text-align:center;
}

#hi {
  font-size: 24pt;
  text-align: center;
  color: white;
}

#hi img {
  margin-bottom: -100px;
  margin-right: 10pt;
}

.avatar {
  border-radius: 50%;
  border: 5pt solid white;
  box-shadow: 0pt 0pt 5pt black;
}

html {
  background-color: #E7E1D4;
}
